/*#region common */

* {
    outline: red 1px solid;
}

a {
    text-decoration: none;
}

.wrap{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(255, 150, 0, .5); */
    padding-top: 15px;
    padding-bottom: 15px;
}

.clear{
    clear: both;
}

.com-img{
    vertical-align: bottom;
}

.link{
    color: black;
}

.link:hover{
    color: orange;
}

.col-ul li{
    display: inline-block;
}

.col-ul li ~ li{
    margin-left: 30px;
}

/* 為了語意隱藏的元素 */
.hidden-title{
    display: none;
}

/*#endregion common */

/*#region promotion */

.promotion {
    width: 100%;
    background-color: gray;
}

.promotion-link-first-item {
    float: left;
}

.promotion-link-list {
    float: right;
}

.promotion-link-item {
    
}

.promotion-link-item ~ .promotion-link-item{
    margin-left: 30px;
}

/*#endregion promotion*/

/*#region header */

.logo {
    float: left;
}

.logo-section{

}

.text-nav{
    margin-left: 100px;
    padding: 15px;
    float: left;
    background-color: orchid;
}

.text-nav > h1 {
    /* 參考天下雜誌 想問這兩個對語意會有不同的狀況嗎? */
    /* font-size: 0 !important;
    border: red 1px solid;
    margin: 3px; */
    display: none;
}

.icon-nav {
    float: right;
    padding: 15px;
}

.shopping-cart-count{
    background-color: orange;
    border-radius: 100%;
}

/*#endregion header*/

/*#region main */

.main {
}

.slidebox{
    float: left;
    padding-right: 15px;
}

.secbox{
    float: left;

    width: 308px;
    padding-left: 15px;
}

.secbox > a {
    display: block;
    position: relative;
}

.item-content {
    position: absolute;
    width: 90px;
    top: 15px;
    left: 15px;
}

.secbox a ~ a {
    margin-top: 30px;
}

.secbox a > image {
    vertical-align: middle;
}

/*#endregion regionName*/

/*#region company-desc */

.list{
    font-size: 0px;
}

.list > :first-child{
    padding-left: 0px;
    width: 285px;
}

.list > :last-child{
    padding-right: 0px;
    width: 285px;
}

.list a :hover h2 {
    color: orange;
}

.list-item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 0px;
    width: 270px;
}

.list-item div{
    display: inline-block;
}

.list-item a {
    display: block;
}

.list-item h2{
    font-size: 16px;
    margin-top: auto;
}

.list-item p{
    font-size: 10px;
    color: gray;
}

.list-item-image{
    margin-right: 15px;
}
/*#endregion company-desc*/

/*#region Product List */

.wrap-title{
    float: left;
}

.tab{
    font-size: 0;
    float: right;

    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-list{
    display: inline-block;
}

.tab-list-item{
    display: inline-block;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.tab-list-item a .active{
    color: orange;
}

.arrow-group{
    display: inline-block;
    font-size: 14px;
}

.arrow{
    padding-left: 11px;
    padding-right: 11px;
}

.arrow~.arrow{
    border-left: 1px gray solid;
    padding-right: 0px;
}

.product-list{
    font-size: 0px;
}

.product-list li{
    display: inline-block;
}

.product-list-item{
    margin-left: 15px;
    margin-right: 15px;
}

.product-list :first-child{
    margin-left: 0px;
}

.product-list :last-child{
    margin-right: 0px;
}

.product-info{
    font-size: 14px;
}

.rate{
    padding-top: 15px;
    padding-bottom: 15px;
}

.rate-item{
    display: inline-block;
}

.rate-active{
    color: yellow;
}

.product-name{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.price-block{
    padding-top: 15px;
    padding-bottom: 15px;
}

.price{
    font-size: 16px;
    font-weight: 900;
    margin-right: 2px;
}

.price::before{
    content: '$';
}

.discount{
    color: red;
    margin-left: 2px;
    margin-right: 2px;
}

.origin-price{
    text-decoration: line-through;
    margin-left: 2px;
}


/*#endregion Product List */